[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyrealsense2 = "*"
pyserial = "*"
pyqt5 = "*"
numpy = "*"
opencv-python = "*"
piexif = "*"
fraction = "*"

[requires]
python_version = "3.7"
